<div>
  <form class="form-group sm-pad-left" (ngSubmit)="searchBooks()">
    <div class="row">    
      <input 
        [(ngModel)]="searchTerm"
        name="searchTerm"
        type="text" 
        placeholder="Searth term" 
        class="col-xs-6 form-control"
        style="width: 60%"
        required/>
      <button class="btn btn-success col-xs-offset-1" type="submit">Search</button>        
    </div>
  </form>
  <div>
    <app-pager></app-pager>      
  </div>
  <div *ngFor="let book of books">
    <app-book-list-element [book]="book"></app-book-list-element>
  </div>
  <div>
    <app-pager></app-pager>  
  </div>
</div>
