<div class="row" style="padding-bottom: 2%;">
  <div class="col-xs-4">
    <img [src]="book.volumeInfo.imageLinks.smallThumbnail" width="60%"/>
  </div>
  <div class="col-xs-8">
    <div class="book-title" (click)="showDetails()">
      {{ book.volumeInfo.title }}
    </div>
    <div>
      {{ book.volumeInfo.authors.join(', ') }}
    </div>
    <div class="row button-row">
        <button class="btn btn-success" (click)="addToCart()">Add to cart</button>        
        <button class="btn btn-info" (click)="showDetails()">Details</button>
    </div>
  </div>
</div>