<div class="row right-align" *ngIf="pages.length > 1">
  <select [(ngModel)]="pageSize">
    <option *ngFor="let size of [5, 10, 20, 40]" [ngValue]="size">{{ size }}</option>
  </select>
  <button class="btn btn-xs" (click)="getPage(1)">First</button>
  <button class="btn btn-xs" (click)="getPrevPage()">Prev</button>
  <button
    class="btn btn-cs"
    [ngClass]="{'btn-primary': page === bookService.currentPage}"
    *ngFor="let page of pages"
    (click)="getPage(page)">{{ page }}</button>
  <button class="btn btn-xs" (click)="getNextPage()">Next</button>
  <!-- <button class="btn btn-xs" (click)="">Last</button> -->
</div>